        body {
            background-color: #ab0535;
            margin: 0;
        }

        h1 {
            padding: 50px;
            text-align: center;
            font-size: 36px;
            color: #ffffff
        }

        h2 {
            text-align: center;
            color: #ffffff;
        }
